<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>454441780451-a2s3l5dnmgaiobuc4hrnrlsie6ag9o9p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.454441780451-a2s3l5dnmgaiobuc4hrnrlsie6ag9o9p</string>
	<key>API_KEY</key>
	<string>AIzaSyDCkoQlXAglFOgZKUG6NnW4Dh_8aKQRo9I</string>
	<key>GCM_SENDER_ID</key>
	<string>454441780451</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iron.artisianconnet</string>
	<key>PROJECT_ID</key>
	<string>artisianconnet</string>
	<key>STORAGE_BUCKET</key>
	<string>artisianconnet.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:454441780451:ios:9fcbaf646e09fed55bb1d6</string>
</dict>
</plist>